#section_create_gif{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    .create_gif{
        max-width: 684px;
        max-height: 386px;
        width: 47.5%;
        height: 35.9%;
    }
}