#div-results_suggested{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;   
    margin-top: 20px;
    

    .div_item{
        background-color: var(--color-background-boxmenu);
        box-shadow: var(--box-shadow-boxmenu);
        padding: 4px;
        display: flex;
        margin-bottom: 16px;
        flex-flow: column nowrap;
        justify-content: space-between;
        position: relative;
        
       

        .top_item{

            background: var(--color-background-bar);
            background: var(--color-gradient-bar);
            width: 280px;
            margin-bottom: 4px;
            display: inline-flex;
            justify-content: space-between;
            
                                    

            h2{
                color: var(--color-font-top-bar);                
                font-size: 12px;
                font-weight: 400;
                    

            }

            .close_svg{
                width: 16px;               
            
                
            }

               
            
        }

        .item-giphy-trends{

            &:hover {
                border: 1px dashed #110038;
            } 
            
            
        }

        #see_more_button{
            position: absolute;            
            left: 12px;
            top: 250px;
            width: 81px;
            height: 34px;
            border: 1px solid #4C2F99;
            background-color: var(--color-background-button-gif);
            box-shadow: var(--box-shadow-button-gif);
            color: var(--color-font-top-bar);
            font-size: 14px;
            cursor: pointer; 
            
            &:hover {
                border: 1px dashed #110038;
            }

        }
    }

}
    