body{
  
    
    .contenedor{

        .contenedor_center{

    
            header{
                margin-top: 39px;
                margin-bottom: 19px;             
                

                nav{
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: space-between;
                    
                    #logo{
                        width: 102.6px;                        
                    }
                    #arrow{
                        width: 24px;
                        margin-right: 7px;
                    }
                    
                    ul{
                        list-style: none;
                        display: flex;
                        justify-content: flex-end;
                        
                        
                                             
                        .list_theme{
                            display: flex;
                            
                            &:hover > li >a{
                                border: var(--border-hover-dashed);
                            }

                            &:hover > li {
                                background-color: var(--color-background-button-hover);
                                box-shadow: var(--box-shadow-button-hover);
                            }                            

                            &:hover > li .submenu{
                                visibility: visible;
                            }
                            

                            li{
                                margin: 0;                                
                                padding: 1px;

                                .link_theme{
                                    padding: 7px 26px;
                                    cursor: default;
                                    pointer-events: none;
                                }                                                         
                                
                                
                                .submenu{
                                
                                    width: 100%;
                                    max-width: 176.469px;
                                    margin-top: 2px;
                                    position: absolute;                                    
                                    display: block;
                                    visibility: hidden;
                                    background-color: var(--color-background-boxmenu);
                                    box-shadow: var(--box-shadow-boxmenu);

                                                                     
                                    
                                    li{ 
                                        margin: 13px 10px;                                                                         
                                        padding: 0;
                                        border: none;
                                        box-shadow: none;
                                        background-color: transparent; 
                                                                          
                                        
                                        a{
                                            text-align: left;                                            
                                            display: block; 
                                            
                                            span{
                                                text-decoration: underline;
                                            }
                                            
                                                                                
                                        }
                                        .button1{  
                                            padding: 7px 60px 7px 16px;                                      
                                            background-color: var(--color-background-button1-menu);
                                            box-shadow: var(--box-shadow-button1-menu);
                                            border: var(--color-border-button1-menu);
                                            color: var(--color-font-button1);
                                            &:hover{
                                                background-color: var(--color-background-button);
                                            }
                                        }
                                        .button2{
                                            padding: 7px 49px 7px 16px;
                                            background-color: var(--color-background-button2-menu);
                                            box-shadow: var(--box-shadow-button2-menu);
                                            border: var(--color-border-button2-menu);
                                            color: var(--color-font-button);
                                            &:hover{
                                                background-color: var(--color-background-button);
                                            }
                                        }
                                    }
                                }
                            }
    
                            .button_arrow a{
                                padding: 7px 12px;
                                cursor: default;
                                pointer-events: none;                                
                            }
                              
                            
                        }
                                                
                        
                        li{
                            
                            margin: 0 10px;
                            padding: 1px;                           
                            border: 1px solid #110038;
                            box-shadow: var(--box-shadow-button);
                            background-color: var(--color-background-button);

                            &:hover > a{
                                border: var(--border-hover-dashed);
                            }

                            &:hover{
                                background-color: var(--color-background-button-hover);
                                box-shadow: var(--box-shadow-button-hover);
                            }
                            
                                                  
                            
                            
                            a{  
                                text-decoration: none;
                                color: var(--color-font-button);                                
                                font-size: 16px;
                                display: block;
                                padding: 7px 26px;
                                img{
                                    width: 10px;
                                   
                                }
                            }
                                                                                             
                                
                        }

                        .without_border{
                            border: none;
                            margin: 0;
                            margin-left: 10px;                                                       
                            box-shadow: none;
                            background-color: transparent;
                            a{
                                padding: 7px 0px;
                                span{
                                    text-decoration: underline;
                                }
                            }

                            &:hover{
                                background-color: transparent;
                                box-shadow: none;
                            }
                            
                        }                                                        


                        
                    }
                }
            }

        }
    }
}