

body{  
    
  
    .contenedor{      
        
        .contenedor_center{  


            .search_input{
                display: flex;
                flex-flow: column nowrap;
                background-color: var(--color-background-search-div);
                box-shadow: var(--box-shadow-search-div);

                .top_bar{
                    box-shadow: none;
                    width: 100%;
                    h2{
                        font-weight: 700;
                    }
                    
                }

                #input_button_search{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-evenly;
                    align-items: center;
                    

                    input{
                        height: 48px;
                        width: 82%;
                        margin: 12px 0;
                        font-family: var(--font-family-principal);
                        color: var(--color-font-button1);
                        
                        

                    }
                    button{
                        width: 12%;
                                            
                        p{  
                            vertical-align: center;
                            padding: 8px 4px;
                            margin: 1px 1px;
                            font-size: 16px;
                            font-family: var(--font-family-principal);
                            
                        }
                                               
                    }

                    .enable{
                        
                                                                    
                        border: 1px solid #110038;
                        box-shadow: var(--box-shadow-button);
                        background-color: var(--color-background-button);
                        color: var(--color-font-button1);

                        &:hover > p{
                            border: 1px dashed #110038;
                        }

                        &:hover{
                            
                            background-color: var(--color-background-button-hover);
                            box-shadow: var(--box-shadow-button-hover);
                        }

                    }


                }
            
            }

        }   

        
    }     
}