

body{  
    
  
    .contenedor{      
        
        .contenedor_center{  


            .search_input{
                display: flex;
                flex-flow: column nowrap;
                background-color: $color-background-search-div;
                box-shadow: $box-shadow-search-div;

                .top_bar{
                    box-shadow: 0 0 0 0 #110038;
                    h2{
                        font-weight: 700;
                    }
                    
                }

                #input_button_search{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-evenly;
                    align-items: center;

                    input{
                        height: 48px;
                        width: 82%;
                        margin: 12px 0;
                        
                        

                    }
                    button{
                        width: 12%;
                        padding: 9px 0;
                                               
                    }
                }
            
            }

        }   

        
    }     
}