body{
    
    .top_bar{
        background: $color-background-bar-day;
        background: $color-gradient-bar-day;
        box-shadow: 0 1px 0 0 #110038;

        h2{
            color: $color-font-top-bar;                
            font-size: 12px;
            font-weight: 400;                

        }

    }
}