body{
    
    .top_bar{        
        margin: 1px 0px;       
        background: var(--color-gradient-bar);
        box-shadow: var(--box-shadow-top-bar);

        h2{
            color: var(--color-font-top-bar);                
            font-size: 12px;
            font-weight: 400;                

        }

    }
}