body{
    .contenedor{
        .contenedor_center{
            #section-results-suggested,#section-results-trends{
                margin-top: 64px;            
            
                .top_input_section{
                    font-family: var(--font-family-principal);
                    color: var(--color-font-button1);
                    font-size: 14px;
                    display: block;
                    width: 100%;
                    background-color: #FFFAFE;
                    border: var(--color-border-top-input-section);
                    box-shadow: var(--box-shadow-top-input-section);
                    padding: 7px 0px 7px 7px;
                                    
                }
            }
        }
    }
}