#section_video_show{
    display: flex;    
    flex-flow: row nowrap;
    justify-content: center;
        
    .video_gif{
        width: 70%;    
       
        video{
            margin: 10px 0px 24px 0px;
            -webkit-transform: scaleX(-1);
             transform: scaleX(-1);
                  
        }

        .button_camera{
            font-family: var(--font-family-principal);
            color: var(--color-font-button1);
            width: 36px;
            height: 36px;
            font-size: 16px;
            box-shadow: var(--box-shadow-button);
            border: var(--border-box-button-create-gif);                
            background-color: var(--color-background-button);
            cursor: pointer;
        }

        
    }

}
