
@import 'variables.';
@import 'top-bar';
@import 'nav-bar';
@import 'section-search';
@import 'results-suggested';
@import 'top-input-section';
@import 'item-giphy-search';
@import 'item-giphy-trends';



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-family: var(--font-family-principal);
    background-color: var(--background-body);
   
    
  
    .contenedor{
        width: 100%;
        min-width: 320px;
        display: flex;
        justify-content: center;   
       
        
        
        .contenedor_center{
            width: 90%;
    


           

        }   

        
    }     
}