:root {
  --background-body: #FFFFFF;
  --color-font-top-bar: #FFFFFF;
  --color-font-button:#110038;
  --color-gradient-bar: linear-gradient(90deg, rgba(65,128,246,1) 0%, rgba(247,201,243,1) 100%);
  --font-family-principal: 'Chakra Petch', sans-serif;
  --box-shadow-top-bar: 0 1px 0 0 #110038;
  --color-background-button: #F7C9F3;
  --box-shadow-button: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  --color-border-button1-menu: 1px solid #CCA6C9;
  --color-border-button2-menu: 1px solid #808080;
  --color-background-button1-menu: #FFF4FD;
  --color-background-button2-menu: #F0F0F0;
  --color-font-button1:#110038;
  --box-shadow-button1-menu: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  --box-shadow-button2-menu: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  --color-background-boxmenu:#E6E6E6;
  --box-shadow-boxmenu: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  --color-background-button-hover:#997D97;
  --box-shadow-button-hover:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  --border-hover-dashed: 1px dashed #110038;
  --color-text-active-withoutborder: #110038;
  --color-background-search-div: #E6E6E6;
  --box-shadow-search-div: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  --color-border-top-input-section: 1px solid #E6BBE2;
  --box-shadow-top-input-section: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  --color-background-button-gif: #4180F6;
  --box-shadow-button-gif: inset -1px -1px 0 0 #284F99, inset 1px 1px 0 0 #FFFFFF;
  --border-box-button-create-gif: 1px solid #110038;
  --color-dropdown: #110038;
  --color-lupa: #B4B4B4;
  --color-background-button-record: #FF6161;
  --box-shadow-button-record: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF; }

body .top_bar {
  margin: 1px 0px;
  background: var(--color-gradient-bar);
  box-shadow: var(--box-shadow-top-bar); }
  body .top_bar h2 {
    color: var(--color-font-top-bar);
    font-size: 12px;
    font-weight: 400; }

body .contenedor .contenedor_center header {
  margin-top: 39px;
  margin-bottom: 19px; }
  body .contenedor .contenedor_center header nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between; }
    body .contenedor .contenedor_center header nav #logo {
      width: 102.6px; }
    body .contenedor .contenedor_center header nav #arrow {
      width: 24px;
      margin-right: 7px; }
    body .contenedor .contenedor_center header nav nav {
      list-style: none;
      display: flex;
      justify-content: flex-end; }
      body .contenedor .contenedor_center header nav nav .list_theme {
        display: flex;
        list-style: none; }
        body .contenedor .contenedor_center header nav nav .list_theme:hover > li > a {
          border: var(--border-hover-dashed); }
        body .contenedor .contenedor_center header nav nav .list_theme:hover > li {
          background-color: var(--color-background-button-hover);
          box-shadow: var(--box-shadow-button-hover); }
        body .contenedor .contenedor_center header nav nav .list_theme:hover > li .submenu {
          visibility: visible; }
        body .contenedor .contenedor_center header nav nav .list_theme li {
          margin: 0;
          padding: 1px; }
          body .contenedor .contenedor_center header nav nav .list_theme li .link_theme {
            padding: 7px 26px;
            cursor: default;
            pointer-events: none; }
          body .contenedor .contenedor_center header nav nav .list_theme li .submenu {
            list-style: none;
            width: 100%;
            max-width: 176.469px;
            margin-top: 2px;
            position: absolute;
            display: block;
            visibility: hidden;
            background-color: var(--color-background-boxmenu);
            box-shadow: var(--box-shadow-boxmenu); }
            body .contenedor .contenedor_center header nav nav .list_theme li .submenu li {
              margin: 13px 10px;
              padding: 0;
              border: none;
              box-shadow: none;
              background-color: transparent; }
              body .contenedor .contenedor_center header nav nav .list_theme li .submenu li a {
                text-align: left;
                display: block; }
                body .contenedor .contenedor_center header nav nav .list_theme li .submenu li a span {
                  text-decoration: underline; }
              body .contenedor .contenedor_center header nav nav .list_theme li .submenu li .button1 {
                padding: 7px 60px 7px 16px;
                background-color: var(--color-background-button1-menu);
                box-shadow: var(--box-shadow-button1-menu);
                border: var(--color-border-button1-menu);
                color: var(--color-font-button1); }
                body .contenedor .contenedor_center header nav nav .list_theme li .submenu li .button1:hover {
                  background-color: var(--color-background-button); }
              body .contenedor .contenedor_center header nav nav .list_theme li .submenu li .button2 {
                padding: 7px 49px 7px 16px;
                background-color: var(--color-background-button2-menu);
                box-shadow: var(--box-shadow-button2-menu);
                border: var(--color-border-button2-menu);
                color: var(--color-font-button); }
                body .contenedor .contenedor_center header nav nav .list_theme li .submenu li .button2:hover {
                  background-color: var(--color-background-button); }
        body .contenedor .contenedor_center header nav nav .list_theme .button_arrow a {
          padding: 7px 12px;
          cursor: default;
          pointer-events: none; }
      body .contenedor .contenedor_center header nav nav li {
        margin: 0 10px;
        padding: 1px;
        border: 1px solid #110038;
        box-shadow: var(--box-shadow-button);
        background-color: var(--color-background-button); }
        body .contenedor .contenedor_center header nav nav li:hover > a {
          border: var(--border-hover-dashed); }
        body .contenedor .contenedor_center header nav nav li:hover {
          background-color: var(--color-background-button-hover);
          box-shadow: var(--box-shadow-button-hover); }
        body .contenedor .contenedor_center header nav nav li a {
          text-decoration: none;
          color: var(--color-font-button);
          font-size: 16px;
          display: block;
          padding: 7px 26px; }
          body .contenedor .contenedor_center header nav nav li a img {
            width: 10px; }
      body .contenedor .contenedor_center header nav nav .without_border {
        border: none;
        margin: 0;
        margin-left: 10px;
        box-shadow: none;
        background-color: transparent; }
        body .contenedor .contenedor_center header nav nav .without_border a {
          padding: 7px 0px; }
          body .contenedor .contenedor_center header nav nav .without_border a span {
            text-decoration: underline; }
        body .contenedor .contenedor_center header nav nav .without_border:hover {
          background-color: transparent;
          box-shadow: none; }

body .contenedor .contenedor_center .search_input {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-background-search-div);
  box-shadow: var(--box-shadow-search-div); }
  body .contenedor .contenedor_center .search_input .top_bar {
    box-shadow: none;
    width: 100%; }
    body .contenedor .contenedor_center .search_input .top_bar h2 {
      font-weight: 700; }
  body .contenedor .contenedor_center .search_input #input_button_search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    body .contenedor .contenedor_center .search_input #input_button_search input {
      height: 48px;
      width: 82%;
      margin: 12px 0;
      font-family: var(--font-family-principal);
      color: var(--color-font-button1); }
    body .contenedor .contenedor_center .search_input #input_button_search #btn {
      width: 12%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 1px;
      padding: 8px 1px;
      font-size: 16px;
      font-family: var(--font-family-principal); }
    body .contenedor .contenedor_center .search_input #input_button_search .enable {
      border: 1px solid #110038;
      box-shadow: var(--box-shadow-button);
      background-color: var(--color-background-button);
      color: var(--color-font-button); }
      body .contenedor .contenedor_center .search_input #input_button_search .enable:hover {
        border: 1px dashed #110038; }
      body .contenedor .contenedor_center .search_input #input_button_search .enable:hover {
        background-color: var(--color-background-button-hover);
        box-shadow: var(--box-shadow-button-hover); }
      body .contenedor .contenedor_center .search_input #input_button_search .enable .lupa {
        fill: var(--color-font-button); }

body .contenedor .contenedor_center .search_input #results_suggested {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: var(--color-background-search-div);
  box-shadow: var(--box-shadow-search-div); }
  body .contenedor .contenedor_center .search_input #results_suggested ul {
    list-style: none;
    width: 82%; }
    body .contenedor .contenedor_center .search_input #results_suggested ul li {
      border: 1px solid #808080;
      margin: 10px 0;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }
      body .contenedor .contenedor_center .search_input #results_suggested ul li a {
        display: block;
        font-family: var(--font-family-principal);
        font-size: 16px;
        color: var(--color-font-button);
        text-decoration: none;
        padding: 5px 0;
        margin: 1px;
        color: #110038; }
        body .contenedor .contenedor_center .search_input #results_suggested ul li a:hover {
          border: 1px dashed #110038; }
  body .contenedor .contenedor_center .search_input #results_suggested .div_empty {
    width: 12%; }

body .contenedor .contenedor_center #section-results-suggested, body .contenedor .contenedor_center #section-results-trends, body .contenedor .contenedor_center #section-results-search, body .contenedor .contenedor_center #section-results-myGif {
  margin-top: 64px; }
  body .contenedor .contenedor_center #section-results-suggested .top_input_section, body .contenedor .contenedor_center #section-results-trends .top_input_section, body .contenedor .contenedor_center #section-results-search .top_input_section, body .contenedor .contenedor_center #section-results-myGif .top_input_section {
    font-family: var(--font-family-principal);
    color: var(--color-font-button1);
    font-size: 14px;
    display: block;
    width: 100%;
    background-color: #FFFAFE;
    border: var(--color-border-top-input-section);
    box-shadow: var(--box-shadow-top-input-section);
    padding: 7px 0px 7px 7px; }

.div-results_trends, .div-results_search {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px; }
  .div-results_trends div, .div-results_search div {
    display: flex;
    position: relative; }
    .div-results_trends div:hover > .hover-gif, .div-results_search div:hover > .hover-gif {
      display: block; }
    .div-results_trends div .item-giphy-search, .div-results_search div .item-giphy-search {
      margin-bottom: 16px; }
    .div-results_trends div .hover-gif, .div-results_search div .hover-gif {
      display: none;
      width: 288px;
      height: 20px;
      text-align: left;
      background: var(--color-gradient-bar);
      box-shadow: var(--box-shadow-top-bar);
      position: absolute;
      color: var(--color-font-top-bar);
      font-size: 12px;
      font-weight: 400;
      top: 278px; }

#div-results_suggested {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 20px; }
  #div-results_suggested .div_item {
    background-color: var(--color-background-boxmenu);
    box-shadow: var(--box-shadow-boxmenu);
    padding: 4px;
    display: flex;
    margin-bottom: 16px;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative; }
    #div-results_suggested .div_item .top_item {
      background: var(--color-background-bar);
      background: var(--color-gradient-bar);
      width: 280px;
      margin-bottom: 4px;
      display: inline-flex;
      justify-content: space-between; }
      #div-results_suggested .div_item .top_item h2 {
        color: var(--color-font-top-bar);
        font-size: 12px;
        font-weight: 400; }
      #div-results_suggested .div_item .top_item .close_svg {
        width: 16px; }
    #div-results_suggested .div_item .item-giphy-trends:hover {
      border: 1px dashed #110038; }
    #div-results_suggested .div_item #see_more_button {
      position: absolute;
      left: 12px;
      top: 250px;
      width: 81px;
      height: 34px;
      border: 1px solid #4C2F99;
      background-color: var(--color-background-button-gif);
      box-shadow: var(--box-shadow-button-gif);
      color: var(--color-font-top-bar);
      font-size: 14px;
      cursor: pointer; }
      #div-results_suggested .div_item #see_more_button:hover {
        border: 1px dashed #110038; }

.section_create_gif,
#section_video_show {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .section_create_gif .create_gif,
  #section_video_show .create_gif {
    width: 55%;
    height: 35.9%; }
    .section_create_gif .create_gif .box_create_gif,
    #section_video_show .create_gif .box_create_gif {
      margin: 30px 93px 28px 73px;
      position: relative; }
      .section_create_gif .create_gif .box_create_gif::before,
      #section_video_show .create_gif .box_create_gif::before {
        content: url(../img/window_img.png);
        display: block;
        position: absolute;
        left: -45px; }
      .section_create_gif .create_gif .box_create_gif h3,
      #section_video_show .create_gif .box_create_gif h3 {
        font-family: var(--font-family-principal);
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0;
        color: var(--color-font-button);
        margin-bottom: 17px; }
      .section_create_gif .create_gif .box_create_gif p,
      #section_video_show .create_gif .box_create_gif p {
        font-family: var(--font-family-principal);
        font-size: 14px;
        letter-spacing: 0;
        line-height: 30px;
        color: var(--color-font-button); }
        .section_create_gif .create_gif .box_create_gif p .italic_span,
        #section_video_show .create_gif .box_create_gif p .italic_span {
          font-weight: bold;
          font-style: italic; }
        .section_create_gif .create_gif .box_create_gif p .h3_span,
        #section_video_show .create_gif .box_create_gif p .h3_span {
          font-family: var(--font-family-principal);
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0;
          color: var(--color-font-button);
          margin-bottom: 17px; }
    .section_create_gif .create_gif .create_gif_button,
    #section_video_show .create_gif .create_gif_button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      margin-right: 36px;
      margin-bottom: 36px; }
      .section_create_gif .create_gif .create_gif_button .button_white,
      #section_video_show .create_gif .create_gif_button .button_white {
        font-family: var(--font-family-principal);
        color: var(--color-font-button1);
        width: 144px;
        height: 36px;
        font-size: 16px;
        box-shadow: var(--box-shadow-button);
        border: var(--border-box-button-create-gif);
        margin-right: 16px;
        background-color: var(--color-background-button1-menu);
        cursor: pointer; }
      .section_create_gif .create_gif .create_gif_button .button_pink,
      #section_video_show .create_gif .create_gif_button .button_pink {
        font-family: var(--font-family-principal);
        color: var(--color-font-button1);
        width: 144px;
        height: 36px;
        font-size: 16px;
        box-shadow: var(--box-shadow-button);
        border: var(--border-box-button-create-gif);
        background-color: var(--color-background-button);
        cursor: pointer; }

#section_video_show {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  #section_video_show .video_gif {
    width: 70%;
    display: flex;
    justify-content: center; }
    #section_video_show .video_gif video {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      max-height: 480px; }
    #section_video_show .video_gif .img_div {
      display: flex;
      justify-content: center;
      margin: 10px 0px 24px 0px; }
      #section_video_show .video_gif .img_div #video_grabado {
        width: 600px;
        height: 480px; }
    #section_video_show .video_gif #subiendo_gif {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 98%;
      margin-left: 8px;
      height: 480px;
      background-color: white; }
      #section_video_show .video_gif #subiendo_gif #globe_img {
        width: 48px;
        margin-bottom: 8px; }
      #section_video_show .video_gif #subiendo_gif #bar_img {
        width: 324px;
        margin-top: 41px;
        margin-bottom: 8px; }
    #section_video_show .video_gif #finished_gif {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 98%;
      margin-left: 8px; }
      #section_video_show .video_gif #finished_gif #title_buttons_div {
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center; }
        #section_video_show .video_gif #finished_gif #title_buttons_div .video_grabado_img_div #video_grabado_img {
          width: 365px;
          height: 200px; }
        #section_video_show .video_gif #finished_gif #title_buttons_div .button_white {
          font-family: var(--font-family-principal);
          color: var(--color-font-button1);
          width: 256px;
          height: 36px;
          font-size: 16px;
          box-shadow: var(--box-shadow-button);
          border: var(--border-box-button-create-gif);
          margin: 16px 0 14px 0;
          background-color: var(--color-background-button1-menu);
          cursor: pointer; }
    #section_video_show .video_gif .create_gif_button {
      margin-top: 37px; }
      #section_video_show .video_gif .create_gif_button #start_btn {
        display: flex;
        flex-flow: row nowrap; }
        #section_video_show .video_gif .create_gif_button #start_btn .button_camera {
          font-family: var(--font-family-principal);
          color: var(--color-font-button1);
          width: 36px;
          height: 36px;
          align-items: center;
          box-shadow: var(--box-shadow-button);
          border: var(--border-box-button-create-gif);
          background-color: var(--color-background-button);
          cursor: pointer; }
        #section_video_show .video_gif .create_gif_button #start_btn:hover {
          background-color: var(--color-background-button-hover);
          box-shadow: var(--box-shadow-button-hover); }
      #section_video_show .video_gif .create_gif_button #upload_buttons {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #section_video_show .video_gif .create_gif_button #upload_buttons img {
          margin-right: 20px; }
      #section_video_show .video_gif .create_gif_button #listo_btn {
        display: flex;
        flex-flow: row nowrap; }
        #section_video_show .video_gif .create_gif_button #listo_btn .div_listo_btn {
          width: 750px;
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          #section_video_show .video_gif .create_gif_button #listo_btn .div_listo_btn div {
            display: flex;
            flex-direction: row;
            align-items: center; }
            #section_video_show .video_gif .create_gif_button #listo_btn .div_listo_btn div .button_record {
              font-family: var(--font-family-principal);
              color: var(---color-font-top-bar);
              width: 36px;
              height: 36px;
              align-items: center;
              box-shadow: var(--box-shadow-button-record);
              border: var(--border-box-button-create-gif);
              background-color: var(--color-background-button-record);
              cursor: pointer; }
            #section_video_show .video_gif .create_gif_button #listo_btn .div_listo_btn div .button_red {
              font-family: var(--font-family-principal);
              color: var(--color-font-top-bar);
              width: 144px;
              height: 36px;
              font-size: 16px;
              box-shadow: var(--box-shadow-button-record);
              border: var(--border-box-button-create-gif);
              background-color: var(--color-background-button-record);
              cursor: pointer; }

.lupa_path {
  fill: var(--color-lupa); }

.dropdown {
  fill: var(--color-font-button); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: var(--font-family-principal);
  background-color: var(--background-body); }
  body .contenedor {
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: center; }
    body .contenedor .contenedor_center {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center; }

/*# sourceMappingURL=styles.css.map */
