body .top_bar {
  background: #4180f6;
  background: linear-gradient(90deg, #4180f6 0%, #f7c9f3 100%);
  box-shadow: 0 1px 0 0 #110038; }
  body .top_bar h2 {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400; }

body .contenedor .contenedor_center header {
  margin-top: 39px;
  margin-bottom: 19px; }
  body .contenedor .contenedor_center header nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between; }
    body .contenedor .contenedor_center header nav img {
      width: 102.6px; }
    body .contenedor .contenedor_center header nav ul {
      list-style: none;
      display: flex;
      justify-content: flex-end; }
      body .contenedor .contenedor_center header nav ul .list_theme {
        display: flex; }
        body .contenedor .contenedor_center header nav ul .list_theme:hover > li .submenu {
          visibility: visible; }
        body .contenedor .contenedor_center header nav ul .list_theme li {
          margin: 0;
          padding: 1px; }
          body .contenedor .contenedor_center header nav ul .list_theme li .link_theme {
            padding: 7px 26px; }
          body .contenedor .contenedor_center header nav ul .list_theme li .submenu {
            width: 100%;
            max-width: 176.469px;
            margin-top: 2px;
            position: absolute;
            display: block;
            visibility: hidden;
            background-color: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
            body .contenedor .contenedor_center header nav ul .list_theme li .submenu li {
              margin: 13px 10px;
              padding: 0;
              border: none;
              box-shadow: none;
              background-color: transparent; }
              body .contenedor .contenedor_center header nav ul .list_theme li .submenu li a {
                text-align: left;
                display: block; }
              body .contenedor .contenedor_center header nav ul .list_theme li .submenu li .button1 {
                padding: 7px 60px 7px 16px;
                background-color: #FFF4FD;
                box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
                border: 1px solid #CCA6C9; }
              body .contenedor .contenedor_center header nav ul .list_theme li .submenu li .button2 {
                padding: 7px 49px 7px 16px;
                background-color: #F0F0F0;
                box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                border: 1px solid #808080; }
        body .contenedor .contenedor_center header nav ul .list_theme .button_arrow a {
          padding: 6px 12px; }
      body .contenedor .contenedor_center header nav ul li {
        margin: 0 10px;
        padding: 1px;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        background-color: #F7C9F3; }
        body .contenedor .contenedor_center header nav ul li:hover > a {
          border: 1px dashed #110038; }
        body .contenedor .contenedor_center header nav ul li:hover {
          background-color: #997D97;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
        body .contenedor .contenedor_center header nav ul li a {
          text-decoration: none;
          color: #110038;
          font-size: 16px;
          display: block;
          padding: 7px 26px; }
          body .contenedor .contenedor_center header nav ul li a img {
            width: 10px; }
      body .contenedor .contenedor_center header nav ul .without_border {
        border: none;
        margin: 0;
        margin-left: 10px;
        box-shadow: none;
        background-color: transparent; }
        body .contenedor .contenedor_center header nav ul .without_border a {
          padding: 7px 0px; }
        body .contenedor .contenedor_center header nav ul .without_border:hover {
          background-color: transparent;
          box-shadow: none; }

body .contenedor .contenedor_center .search_input {
  display: flex;
  flex-flow: column nowrap;
  background-color: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  body .contenedor .contenedor_center .search_input .top_bar {
    box-shadow: 0 0 0 0 #110038; }
    body .contenedor .contenedor_center .search_input .top_bar h2 {
      font-weight: 700; }
  body .contenedor .contenedor_center .search_input #input_button_search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; }
    body .contenedor .contenedor_center .search_input #input_button_search input {
      height: 48px;
      width: 82%;
      margin: 12px 0; }
    body .contenedor .contenedor_center .search_input #input_button_search button {
      width: 12%;
      padding: 9px 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Chakra Petch", sans-serif; }
  body .contenedor {
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: center; }
    body .contenedor .contenedor_center {
      width: 85%; }

/*# sourceMappingURL=styles.css.map */
